@import "./globals.scss";

.contact-container {
  @include flex(row, flex-start, flex-start);
  position: relative;
  min-height: 20vh;
  padding: 3rem 12.5%;
  gap: 10%;

  @media (min-width: 2500px) {
    padding: 3rem 20%;
  }

  .contact-info {
    @include flex(column, flex-start, flex-start);
    width: 40%;

    p {
      margin: 1rem 0;
      margin-bottom: 2rem;
    }

    .contact-row {
      @include flex(row, flex-start center);
      gap: 0.5rem;
      padding: 1rem 0.5rem;
      width: 100%;
      border-bottom: 1px solid $gray-14;

      span {
        font-size: 0.9rem;
        color: $gray-5;
        font-weight: 600;
        width: 30%;

        &:nth-child(2) {
          width: 70%;
          font-weight: 300;
        }
      }
    }
  }
}

.contact-page {
  .location {
    background-color: $white;
    margin-top: 0;
    padding-top: 0;
    transform: translateY(-5rem);

    .location-title {
      h3 {
        color: $page-primary;
      }

      h2 {
        margin-bottom: 0.3rem;
        text-transform: uppercase;
        color: $gray-1;
      }

      p {
        color: $gray-4;
      }

      .btn {
        background-color: $page-primary;
        color: $white;
      }
    }

    &::before {
      background-color: $white;
    }

    .location-container {
      .map-container {
        box-shadow: 0 0 0.3rem rgba($color: $black, $alpha: 0.2);
      }

      video {
        width: 30%;
        z-index: 10;
        box-shadow: 0 0 0.5rem rgba($color: $black, $alpha: 0.2);
        cursor: pointer;
      }
    }
  }
}
