@import "./globals.scss";

nav {
  position: relative;
  @include flex(row, flex-start, flex-start);
  height: 2.9rem;
  width: 100%;
  background-color: $primary-dashboard;
  padding-left: 2rem;
  border-top: 1px solid $gray-2;

  .rectangle-background {
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 100%;
    height: 100%;
    width: 5rem;
    transition: all 0.3s ease;
    background-color: $gray-3;
    color: $gray-13;
    border-right: 1px solid $gray-4;
    border-left: 1px solid $gray-4;
    z-index: 1;
  }

  .rectangle-background-active {
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray-2;
    border-right: 1px solid $gray-3;
    border-left: 1px solid $gray-3;
    width: 5rem;
    transition: all 0.3s ease;
  }

  a {
    color: $gray-13;
    font-size: 0.93rem;
    font-weight: 300;
    text-decoration: none;
    padding: 0.9rem 0.5rem;
    margin-right: 1rem;
    border-bottom: 1px solid transparent;
    z-index: 2;
    @include flex(row, center, center);
    text-align: center;

    &.active {
      color: $white;
    }
  }
}
