@import "./globals.scss";

header {
  width: 100%;
  @include flex(column, center, center);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  border-bottom: 1px solid $gray-3;

  .top-bar {
    @include flex(row, space-between, center);
    width: 100%;
    height: 2.2rem;
    background-color: $primary-dashboard;
    border-bottom: 1px solid $gray-2;
    padding: 0 2rem;
    z-index: 3;

    .time-and-made-by {
      @include flex(row, center, center);
      gap: 1rem;
      height: 100%;

      .time {
        color: $gray-13;
        font-size: 0.78rem;
        font-weight: 300;
      }

      .made-by {
        @include flex(row, flex-start, flex-start);
        height: 100%;
        gap: 0.5rem;
        padding-left: 1rem;
        border-left: 1px solid $gray-2;
        p {
          color: $gray-13;
          font-size: 0.78rem;
          font-weight: 300;
          height: 100%;
          @include flex(row, center, center);
        }

        a {
          color: $gray-13;
          font-size: 0.8rem;
          font-weight: 500;
          height: 100%;
          @include flex(row, center, center);

          &:hover {
            color: $gray-15;
          }
        }
      }
    }
  }

  .header {
    width: 100%;
    @include flex(row, space-between, center);
    background-color: $primary-dashboard;
    height: 4.7rem;

    .header-left {
      @include flex(row, space-between, center);
      height: 100%;
      padding: 0 2rem;
      position: relative;
      gap: 3rem;
      .header-left-page-info {
        @include flex(row, flex-end, flex-end);
        height: 100%;
        gap: 1rem;
        padding: 0.75rem 0;

        p {
          color: $gray-14;
          padding-bottom: 0.4rem;
          font-weight: 300;
        }

        h3 {
          color: $white;
        }
      }
      .search {
        @include flex(row, center, center);
        gap: 1rem;
        background-color: $gray-2;
        border-radius: 0.1rem;
        border: 1px solid $gray-4;
        height: 2.3rem;
        padding-right: 1rem;

        input {
          background-color: transparent;
          border: none;
          outline: none;
          color: $gray-13;
          font-size: 0.95rem;
          font-weight: 300;
          padding: 0 1.3rem;
          width: calc(100% - 1.2rem);
          height: 90%;
          border-right: 1px solid $gray-4;
          width: 18rem;

          &:focus {
            width: 22rem;
          }

          &::placeholder {
            color: $gray-11;
            font-size: 0.95rem;
            font-weight: 300;
          }
        }

        svg {
          color: $gray-13;
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }

    .header-right {
      padding: 1rem 2rem;
      @include flex(column, flex-end, flex-end);
      height: 100%;

      .user {
        @include flex(row, center, center);
        gap: 1rem;
        cursor: pointer;
        position: relative;

        .user-info {
          gap: 0.7rem;
          @include flex(row, center, center);

          .user-image {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            overflow: hidden;
            padding: 0.4rem;
            background-color: $gray-3;
            @include flex(row, center, center);
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            svg {
              width: 100%;
              height: 100%;
              color: $gray-14;
            }
          }

          .user-name {
            color: $white;
            font-size: 0.85rem;
            font-weight: 300;
          }

          .user-role {
            color: $white;
            font-size: 0.8rem;
            font-weight: 300;
            background-color: $gray-3;
            padding: 0.35rem 0.8rem;
            border-radius: 0.2rem;
          }
        }
      }
    }
  }
}
