@import "./globals.scss";

.header {
  width: 100%;
  @include flex(column, flex-start, flex-start);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .contact-info {
    @include flex(row, space-between, center);
    width: 100%;
    padding: 0 12.5%;
    background-color: $gray-15;
    height: 2.2rem;
    border-bottom: 1px solid $gray-14;
    padding-left: calc(12.5% + 10rem);

    .contact-info-left {
      @include flex(row, center, center);
      height: 100%;

      .contact-info-left-item {
        text-decoration: none;
        color: $gray-5;
        font-size: 0.83rem;
        font-weight: 300;
        height: 100%;
        border-right: 1px solid $gray-14;
        padding-right: 1rem;
        @include flex(row, center, center);
        border-left: 1px solid $gray-14;
        padding-left: 1rem;

        &:nth-last-child(1) {
          border-left: none;
        }
      }
    }

    .contact-info-right {
      @include flex(row, center, center);
      gap: 1rem;

      .social-container {
        @include flex(row, center, center);
        gap: 1rem;

        .social-icon {
          width: 1.5rem;
          height: 1.5rem;
          background-color: $gray-14;
          border-radius: 50%;
          @include flex(row, center, center);
          color: $gray-5;
          font-size: 0.9rem;
          cursor: pointer;
          transition: all 0.3s ease;
          fill: $gray-5;

          &:hover {
            background-color: $page-primary;
            color: $white;
          }
        }
      }
    }
  }
  .next-workshop {
    background-color: $page-primary;
    @include flex(row, center, center);
    width: 100%;
    padding: 0.3rem 12.5%;
    color: $white;
    height: 2.7rem;
    animation-delay: 2s;
    animation: slide-in 0.3s ease;

    p {
      margin: 0;
      color: $white;
      font-size: 1.4rem;
      font-weight: 700;
      margin-right: 1rem;
    }

    .next-workshop-time-to-container {
      @include flex(row, center, center);
      gap: 0.5rem;
      margin-right: 1rem;

      .next-workshop-time-to {
        @include flex(row, center, center);
        gap: 0.2rem;

        .units {
          padding: 0.25rem;
          background-color: $gray-15;
          border-radius: 0.2rem;
          color: $primary;
          font-weight: 500;
          font-size: 0.9rem;
          @include flex(row, center, center);
        }
      }

      .next-workshop-time-to-label {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 500;
      }
    }

    .next-workshop-title {
      font-size: 0.85rem;
      font-weight: 600;
      margin-right: 0.5rem;
      text-transform: uppercase;
    }

    .next-workshop-date-and-time {
      font-size: 0.85rem;
      font-weight: 500;
    }
  }

  .header-nav {
    width: 100%;
    @include flex(row, space-between, center);
    padding: 0.5rem 12.5%;
    background-color: $white;
    height: 5.5rem;
    z-index: 2;
    position: relative;

    .header-nav-left {
      @include flex(row, center, center);
      gap: 2rem;
      margin-left: 10rem;
      height: 100%;

      .links {
        list-style: none;
        margin: 0;
        padding: 0;
        @include flex(row, center, center);
        height: 100%;
        li {
          margin: 0;
          padding: 0;
          margin-right: 2.5rem;
          font-size: 0.85rem;
          font-weight: 500;
          color: $gray-13;
          cursor: pointer;
          transition: all 0.3s ease;
          height: 100%;
          @include flex(row, center, center);
          text-transform: uppercase;
          &:nth-last-child(1) {
            margin-right: 0;
          }

          a {
            text-decoration: none;
            color: $gray-5;
            font-size: 1.05rem;
            font-weight: 400;
            height: 100%;
            @include flex(row, center, center);

            &:hover {
              color: $page-primary;
            }
          }
        }
      }
    }

    .header-logo {
      background-color: $light-yellow;
      @include flex(row, center, center);
      position: absolute;
      left: 12.5%;
      top: 50%;
      transform: translateY(-50%);
      height: 7rem;
      width: 7rem;
      box-shadow: 0 0.1rem 0.2rem rgba($black, 0.1);
      padding: 0.5rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .header-nav-right {
      @include flex(row, center, center);
      gap: 1.3rem;

      .search {
        height: 2.4rem;
        @include flex(row, space-between, center);
        overflow: hidden;

        input {
          height: 100%;
          width: 13rem;
          padding: 0 1rem;
          border: none;
          font-size: 0.9rem;
          font-weight: 400;
          color: $gray-7;
          outline: none;
          transition: all 0.1s ease-in-out;
          border-bottom: 1px solid $gray-12;

          &:focus {
            &::placeholder {
              color: $gray-10;
            }
          }

          &::placeholder {
            color: $gray-7;
            font-weight: 400;
          }
        }

        svg {
          width: 2rem;
          height: 2.4rem;
          color: $gray-10;
          padding: 0.2rem;
          padding-right: 0.5rem;
          border-bottom: 1px solid $gray-12;
        }
      }

      .btn {
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: 500;
        padding: 0.75rem 1.2rem;
        height: 2.4rem;
      }
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
