@import "./globals.scss";

.hero {
  height: 55rem;
  width: 100%;
  background-color: $white;
  position: relative;
  overflow: hidden;
  background-color: $gray-15;
  @include flex(row, flex-start, center);

  .hero-image {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
    width: 50%;
  }

  .hero-content {
    padding-left: 12.5%;
    @include flex(column, center, flex-start);
    width: 50%;
    height: 100%;

    @media (min-width: 2500px) {
      padding-left: 20%;
    }

    h3 {
      color: $page-primary;
      margin-bottom: 0.7rem;
      font-size: 3rem;
      font-weight: 600;
    }

    h1 {
      color: $gray-3;
      line-height: 1.1;
      font-weight: 700;
      font-size: 5rem;
      width: 90%;
      margin-bottom: 0.3rem;
    }

    .hero-content-location {
      @include flex(row, flex-start, center);
      gap: 1rem;
      margin-top: 1rem;

      svg {
        color: $gray-4;
        width: 3rem;
        height: 3rem;
        padding: 0.5rem;
        background-color: $gray-15;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba($color: $black, $alpha: 0.15);
      }

      span {
        color: $gray-3;
        font-size: 1.1rem;
        font-weight: 700;
        text-transform: uppercase;

        @media (min-width: 2500px) {
          font-size: 1.3rem;
        }
      }
    }

    .links {
      @include flex(row, flex-start, center);
      gap: 1rem;
      margin-top: 1rem;

      .btn {
        font-weight: 600;

        &:nth-last-child(1) {
          background-color: $gray-12;
          color: $black;

          svg {
            color: $black;
          }
        }
      }
    }

    p {
      color: $gray-4;
      margin: 1rem 0;
      width: 90%;
      line-height: 1.5;
    }
  }
}
