@import "./globals.scss";

.hero {
  height: calc(100vh - 6rem);
  width: 100%;
  background-color: $white;
  position: relative;
  overflow: hidden;
  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
  }

  .hero-content {
    position: absolute;
    left: 12.5%;
    @include flex(column, flex-start, flex-start);
    width: 50%;
    top: 50%;
    transform: translateY(-50%);

    h3 {
      color: $page-primary-ultra-light;
      margin-bottom: 0.7rem;
      font-size: 3rem;
      font-weight: 600;
    }

    h1 {
      color: $white;
      line-height: 1.1;
      font-weight: 600;
      font-size: 5rem;
      text-transform: uppercase;
    }

    .hero-content-location {
      @include flex(row, flex-start, center);
      gap: 0.5rem;
      margin-top: 1rem;
      svg {
        color: $white;
        width: 1.7rem;
        height: 1.7rem;
      }

      span {
        color: $white;
        font-size: 1.1rem;
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    p {
      color: $white;
      margin: 1rem 0;
    }
  }
}
