@import "./globals.scss";

.marquee {
  width: 100%;
  background-color: $page-primary;
  position: relative;
  padding: 2rem 0;

  .marquee-item {
    font-size: 2.7rem;
    font-weight: 700;
    height: 100%;
    display: inline-block;
    white-space: nowrap;
    font-family: "Caveat", cursive;
    padding: 0 2.3rem;
    gap: 3rem;
    @include flex(row, center, center);
    color: $white;

    .circle {
      width: 1.2rem;
      height: 1.2rem;
      background-color: $white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 700;
      color: $page-primary;
    }
  }
}
