@import "./globals.scss";

.marquee {
  width: 100%;
  height: 3rem;
  background-color: $page-primary;

  .marquee-item {
    font-size: 1.7rem;
    font-weight: 700;
    height: 100%;
    display: inline-block;
    white-space: nowrap;
    font-family: "Caveat", cursive;
    padding: 0 1.5rem;
    gap: 2rem;
    @include flex(row, center, center);
    color: $white;

    .circle {
      width: 0.8rem;
      height: 0.8rem;
      background-color: $white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 700;
      color: $page-primary;
    }
  }
}
